.card__view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card__view > div {
  display: flex;
  align-items: center;
}
.root {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.MuiCard-root {
  display: flex !important;
}
a {
  margin: 10px !important;
}
